/* Import Font From Google */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

// Colors
$main-color: hsl(217, 19%, 35%);
$second-color: hsl(214, 17%, 51%);
$third-color: hsl(212, 23%, 69%);
$very-light: hsl(210, 46%, 95%);

// Font
$main-font-size: 13px;
$manrope-font: "Manrope", sans-serif;
